.spreadsheet {
  width: 80vw;

  input {
    height: 100%;
  }


}

.note-table-component {
  .add-title-button {
    color: blue;
  }

  .spread-sheet-foot-buttons {
    display: flex;
    justify-content: space-between;
  }
}

.data-grid-container .data-grid .cell {
  text-align: center;
  height: 25px;
  font-size: small;

  .data-editor {
    height: 100%;
    width: 100%;
    text-align: center;

  }
}