.table-config-input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.table-config-form {
  display: flex;
  align-items: center;

  input {
    border: 1px solid;
    background-color: #FFFFFF;
    text-align: center;
  }

  .number-input {
    width: 60px;
  }

  div {
    position: relative;

    label {
      position: absolute;
      left: 6px;
      top: -20px;
      font-size: smaller;
    }
  }

}

.basic-input input {
  width: 50px;
  border-width: thin;
}